/* CONTENT */

img {
    width: 100%;
}

#img-avatar {
    max-width: 200px;
}

.dm-star {
    margin-top: 10%;
    margin-bottom: 10%;
}

.dm-star::after,
.dm-star::before {
    content: "";
    border: 2px solid #fff;
    border-radius: 2px;
    display: inline-block;
    height: 2px;
    width: 25vw;
}

.dm-star.dm-star-black::after,
.dm-star.dm-star-black::before {
    border: 1px solid black;
}

.dm-star.dm-short-star::after,
.dm-star.dm-short-star::before {
    width: 5vw;
}

#social-buttons * {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

/* COLORS */

.dm-bg-header {
    background-color: rgb(44 62 80);
}

.dm-bg-title,
.dm-bg-about,
.dm-color-button {
    background-color: rgb(26 188 156);
}

.dm-bg-footer {
    background-color: rgb(58 84 109);
}

.dm-bg-copyright-footer {
    background-color: rgb(44 62 80);
}